# .gitignore
# Terraform
terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Docker
docker.env

# Скрипты (если не хотите пушить .sh)
*.sh

# IDE
.idea/
.vscode/
authorized_key.json
